table {
    margin: 0 auto;
    border: 1px black solid;
    border-radius: 5px;
    font-family: Helvetica, Arial, serif;
    border-collapse: collapse;
}

table td {
    padding: 6px;
    border: 1px black solid;
    width: 100px;
}
