html, body {
    height: 100%;
}

header {

    display: block;
    background: #286af0;
    padding: 10px 0px;
}

section {
    width: 79%;
    background: #ccc;
    float: left;
    overflow: auto;
    padding-bottom: 60px;
    padding-top: 30px;
}

aside {
    float: right;
    border: 1px solid red;
    width: 19%;
    border: 1px solid red;
    /*Si quisieramos ocultar el contenido relacionado pondriamos visibility a hidden*/
    /*visibility: hidden;*/
}

footer {
    position: relative;
    margin-top: -50px;
    height: 40px;
    padding: 5px 0px;
    clear: both;
    background: #286af0;
    text-align: center;
    color: #fff;
}

figure {
    display: table;
    margin: 0 auto;
}

table {
    border: 1px black solid;
    border-radius: 5px;
    font-family: Helvetica, Arial;
}

table td {
    padding: 6px;
    border: 1px black solid;
    width: 100px;
}

/*Primera fila, primera celda*/
table tr:first-child td:first-child {
    border-radius: 5px 0px 0px 0px;
}

/*Primera fila, última celda*/
table tr:first-child td:last-child {
    border-radius: 0px 5px 0px 0px;
}

/*Última fila, primera celda*/
table tr:last-child td:first-child {
    border-radius: 0px 0px 0px 5px;
}

/*Última fila, última celda*/
table tr:last-child td:last-child {
    border-radius: 0px 0px 5px 0px;
}